body {
    font-size: 20px;
	font-family: Ubuntu;
	margin: 0;
	background-color: white;
	color: rgb(64, 95, 72);
	
}	

@font-face {      
	font-family: "Ubuntu";
	font-weight: 125 950;
	font-stretch: 75% 125%;
	font-style: oblique 0deg 12deg;
	src: url("Ubuntu-Light.ttf");
}

.bildkasten {
	background-color: green;
	position: relative;
	z-index: 100;
	float: ;
    position: absolute;
    left: 8%;
    bottom: 7em;
	height: 200px;
	width: 200px;
	
}
.surnous img {
	filter: drop-shadow(-20px 20px 0 rgb(172, 229, 149)); 
	z-index: 0;
	margin-left: 5%;
}

.topnav {
	overflow: hidden;
	background-color: rgb(64, 95, 72);
	text-align: right;
	border-bottom: 6px solid #145229;
	word-spacing: 8px;
	position: fixed;
	width: 100%;
	display: block;
	color: white;
	text-decoration: none;
	padding: 1%;
	z-index: 100;
}
.Leiste {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
	color: white;
	font-size: 150%;

}
.topnav a {
	color: white;
	font-size: 80%;
}
.topnav a:hover {
	color: rgb(133, 177, 70);
}
#home {
	float: left;
	padding-left: 20px;
}

.item {
	display: grid;
	grid-auto-rows: minmax(100px, auto); 
	text-align: left;
}
.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr 250px;
	grid-auto-rows: minmax(400px, auto);
}

#item1{
	grid-column: 1/3;
	grid-row: 1/2;
	margin-top: 2%;
	margin-left: 15%;
	overflow: hidden;
	margin-right: 13%;
}

#item1 img {

}
#item2 {
	grid-column: 1/2;
	grid-row: 2/3;
	color: rgb(123, 167, 50);
	padding-left: 80px;
	float: center;
	padding-top: 50px;	
	padding-right: 80px;
	background-color: rgb(211, 230, 196);
}
#item3 {
	grid-column: 2/3;
	grid-row: 2/3;
	color: white;
	padding-left: 140px;
	padding-right: 80px;
	padding-top: 50px;
	text-align: right;
}
#item2 #item3 {

	margin-top: ;
}

#item4 {
	grid-column: 1/3;
	grid-row: 3/4;
	background-color: rgb(64, 95, 72);
	justify-content: left;
	padding: 30px;
	border-top: 6px solid #145229;
	position: bottom;
	color: black;
}

#footerinhalt {
	margin-left: 20px;
	
}



.impressum {
	text-align: center;
}
.quellen {
	text-align: left;
}

a {
	text-decoration: none;
	color: rgb(4, 35, 2);
}

a:hover {
	color: rgb(211, 220, 196);
}

.Karte {
	margin-left: 18%;
	margin-right: 15%;
	margin-top: 3%;

}
.Legende{
	margin-left: 18%;
	margin-right: 15%;
	margin-top: 2%;
}


.special_box_image img {
	width: 100%;
	position: relative;
	height: 100%;
	z-index: 1;
	object-fit: cover;
}

.surnous {
	margin-left: 15%;
	margin-right: 15%;
}
.activites{
	margin-left: 15%;
	margin-right: 15%;

	margin-bottom: 5%;
}
.region{
	margin-left: 15%;
	margin-right: 15%;
}

.section {
     height: 100vh;
     background: #dedede;
     margin-bottom: 20px;
     font-size: 100px;
   }

.scroll-container {
     position: absolute;
     top: 0;
     right:0;
     height: 100%;
   }

.scroll-container:before {
     content: '';
     display: block;
     height: 100vh;
     pointer-events: none;
   }
.scroll-container a {
     position: sticky;
     top: 88vh;
     cursor: pointer;
     font-size: 20px;
   }

.pfeil {
   	box-shadow: 2px 2px 10px black;
   	border-radius: 20px;
   	position: fixed;
   	width: 50px;
   	height: 50px;
   	bottom: 35px;
   	right:40px;
   	text-align: center;
   	line-height: 55px;
   	font-size: 30px;
   	color: #145229;
   }

h1{
  font-size:50px;
  margin-top: 12%;
  text-align: left;
  margin-left: 10%;
}